<!-- <ul *ngFor="let featureText of features">
  <li class="feature">{{featureText}}</li>
  <li class="feature">Steam Sanitation</li>
  <li class="feature">Complete Surface Cleaning</li>
  <li class="feature">Air Sanitation</li>
  <li class="feature">UV Plastic Protection</li>
  <li class="feature">Leather Cleaning and Conditioning</li>
</ul> -->


<!-- <ul >
  <li class="feature">Thorough Vacuuming</li>
  <li class="feature">Steam Sanitation</li>
  <li class="feature">Complete Surface Cleaning</li>
  <li class="feature">Air Sanitation</li>
  <li class="feature">UV Plastic Protection</li>
  <li class="feature">Leather Cleaning and Conditioning</li>
</ul> -->