@media only all and (min-width:0){
  section{
    display:flex;
    width: 100%;
    app-deals-tag{
      
    }
    div#tagContainer{
      height:26rem;
      width: 20%;
      overflow-y:scroll;
    }
    div#displayContainer{
      height: 26rem;
      width: 80%;
      overflow-y:scroll;
    }
    ::-webkit-scrollbar{
      display:none;
    }
  }
  }
  @media only all and (min-width: 786px){
  
  }
  @media only all and (min-width: 992px){
    li {
      font-size: 1.5rem;
    }
  }
  @media only all and (min-width: 1200px) {
  
  }
  