@media only screen and (min-width:0){
  div.topBanner{
    background-image: url('../../../../assets/imgs/HomePhoto1.jpg');
    height: fit-content;
    .overlay{ 
      padding: 25vh 0;
      display:block;
      height: 100vh;
      overflow-y:auto;
      // display:flex;
      // flex-direction: column;
      color:white;
      h1{
        text-align:center;
        // width: 100%;
      }
      div#bio{
        width: 80%;
        margin: -7rem auto 0 auto;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.25rem;
        background-color:rgba(255,255,255,0.4);
        padding: 7.5rem 1rem 1rem 1rem;
        border-radius: 15px;
      }
      // background-color: rgba(0,0,0,0);
    }
    .overlay::-webkit-scrollbar{
      display:none;
    }
  }
  main {
    background: rgb(97,102,116);
    background: radial-gradient(circle, rgba(97,102,116,1) 0%, rgba(0,0,10,1) 50%);
  }
  
}
@media only screen and (min-width: 786px){
  div.topBanner{
     .overlay{ 
      overflow:initial;
      h1{
      
      }
      div#bio{
        
      }
    
    }
  }
  main {
 
  }
}
@media only screen and (min-width: 992px){
  div.topBanner{
    .overlay{ 
      h1{
      }
      div#bio{
        width: 80%;
        margin: -9rem auto 0 auto;
        font-family:'Times New Roman', Times, serif;
        padding: 9rem 1rem 1rem 1rem;
      }
      // background-color: rgba(0,0,0,0);
    }
  }
}
