<div class="aboutOwner">
  <div class="overlay">
    
    <div id="bio">
      <h1>Get to know your Detailer</h1>
      Originally from Los Angeles, I have been thrilled getting to know the good people of Idaho! I have been an Idaho resident for over 2 years now and love the friendly hospitality here. I am a 22 year old Brigham Young University Idaho student and a pilot in training. I am an outdoor enthusiast and love meeting people from all backgrounds.<br><br> 
      Most importantly, I love transforming vehicles! When first creating a name, I struggled to know what to call this business. Eventually, I concluded with “Difference Detailing”. But what does it mean? It means here, you will see the difference in every way. The difference between a detail and just a clean. The difference in quality service you will receive before, during, and after your experience with me. The difference in your own vehicle, before and after. The difference between someone just detailing as a job and someone with a passion.
    </div>
    <figure>
      <img src="../../../../assets/imgs/Other/kyle.jpg" alt="kyle">
    </figure>
  </div>  
</div>
<div class="topBanner">
  <div class="overlay">
    <div id="why">
      <h1>Why Choose Difference Detailing</h1>
      At Difference Auto Detailing, we are motivated the highest quality experience for yourself and your vehicle! We will work with you to achieve your desired results!<br><br> 
      “Difference Detailing is the place to go when you want the job done right” as stated by one customer.<br><br>
      Located in Rexburg, Idaho near the Grand Tetons, we are excited to transform your vehicle and get it back to the best condition it can be in!
    </div>
  </div>  
</div>



<app-footer></app-footer>