<div class="topBanner">
  <div class="overlay">
    <h1>Deals</h1>
  </div>  
</div>

<section>
  <main>
    <div class="overlay">
      <div class="contentHolder">
        <div id="dealsHolder">
          <h2>Options</h2>
          <h3>Deal Options</h3>
          <app-deals
            *ngFor="let deals_elements of deals | dealsFilter: 'Deal Option' "
            [singleDeal]="deals_elements"></app-deals>
          <h3>Bonus Options</h3>
          <app-deals
            *ngFor="let deals_elements of deals | dealsFilter: 'Bonus Option' "
            [singleDeal]="deals_elements"></app-deals>
          <span>Note: Prices depend on condition of vehicle</span>
        </div>
        <div id="featuresHolder">
          <h2>Features</h2>
          <app-features 
            *ngFor="let features_text of features"
            [singleFeature]="features_text">
          </app-features>
          <span>Note: Features are included in all Deal Options</span>
        </div>
      
      </div>
    </div>
  </main>
</section>
  

<app-footer></app-footer>