<div class="topBanner">
  <div class="overlay">
    <h1>Deals</h1>
  </div>  
</div>

<section>
  <main>
    <div class="overlay">
      <div class="contentHolder">
        <div id="dealsHolder">
          <h2>Deals</h2>
          <table>
            <tr>
              <th>Deal Options</th>
            </tr>
            <tr class="dealOption">
              <td>Sedan Size</td>
              <td>$120</td>
            </tr>
            <tr class="dealOption">
              <td>Truck Size</td>
              <td>$150</td>
            </tr>
            <tr class="dealOption">
              <td>SUV Size</td>
              <td>$170</td>
            </tr>
            <tr>
              <th>Bonus Options</th>
            </tr>
            <tr class="dealOption">
              <td>Shampoo/Extraction</td>
              <td>$50</td>
            </tr>
            <tr class="dealOption">
              <td>Exterior Wash</td>
              <td>$60</td>
            </tr>
          </table>
          <span>Note: Prices depend on condition of vehicle</span>
        </div>
        <div id="featuresHolder">
          <h2>Features</h2>
          <!-- <app-features></app-features> -->
          <!-- <ul>
            <li class="dealDetail">Thorough Vacuuming</li>
            <li class="dealDetail">Steam Sanitation</li>
            <li class="dealDetail">Complete Surface Cleaning</li>
            <li class="dealDetail">Air Sanitation</li>
            <li class="dealDetail">UV Plastic Protection</li>
            <li class="dealDetail">Leather Cleaning and Conditioning</li>
          </ul> -->
          <span>Note: Features are included in all Deal Options</span>
        </div>
      
      </div>
    </div>
  </main>
</section>
  

<app-footer></app-footer>