<section>
  <div class="overlay">
    <!-- <form >
      <fieldset>
        <legend>Contact</legend>
        <p>Name: Kyle Knowles</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: Kyle@Kyle.com</p>
        <p>Social Media: Facebook</p>
      </fieldset>
    </form> -->
    <article>
      <h3>Contact</h3>
      <div id="infoHolder">
        <p>Name: Kyle Knowles</p>
        <p>Phone: 661-585-7302</p>
        <p>Email: kylejk13@gmail.com</p>
        <p>Address: 2727 N 4000 Rd W, Rexburg ID 83440</p>
        <p><a href="https://www.facebook.com/profile.php?id=100083115163446">Facebook</a></p>
      </div>
    </article>
  </div>
</section>