<section>
  <div class="overlay">
    <!-- <form >
      <fieldset>
        <legend>Contact</legend>
        <p>Name: Kyle Knowles</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: Kyle@Kyle.com</p>
        <p>Social Media: Facebook</p>
      </fieldset>
    </form> -->
    <article>
      <h3>Contact</h3>
      <div id="infoHolder">
        <p>Name: Kyle Knowles</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: Kyle@Kyle.com</p>
        <p>Social Media: Facebook</p>
      </div>
    </article>
  </div>
</section>