<div class="topBanner">
  <div class="overlay">
    <h1>Reviews</h1>
  </div>  
</div>

<main>
  <app-review-create></app-review-create>
  <app-single-review
    *ngFor="let review_element of reviews"
    [review]="review_element"
  ></app-single-review>
  <!-- <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article> -->
  

</main>
  


<app-footer></app-footer>