<div class="topBanner">
  <div class="overlay">
    <h1>Reviews</h1>
  </div>  
</div>

<main>
  <form action="">
    <fieldset>
      <legend>Share your thoughts</legend>
      <label for="reviewer">Name</label>
      <input id="reviewer" type="text">
      <label for="rating">Rating (1-5)</label>
      <input type="range" name="rating" id="rating" min="0" max="5">
      <textarea name="reviewText" id="reviewText" cols="30" rows="10"></textarea>
      <button type="submit">Submit</button>
    </fieldset>
  </form>
  <app-single-review
    *ngFor="let review_element of reviews"
    [review]="review_element"
  ></app-single-review>
  <!-- <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article>
  <article class="review">
    <h3>Name</h3>
    <div class="row">
      <span>*****</span>
      <span>Date</span>
    </div>
    <p>Kyle does an amazing Job!</p>
  </article> -->
  

</main>
  


<app-footer></app-footer>