@media only screen and (min-width:0){
  div.topBanner{
    background-image: url('../../../../assets/imgs/FacebookPhotos/reviewHero.jpg');
    .overlay{
      // background-color: rgba(0,0,0,0);
    }
  }
  main {
    // background: rgb(68, 71, 80);
    background: rgb(133,142,164);
    background: linear-gradient(180deg, rgba(133,142,164,1) 0%, rgba(0,0,10,1) 100%);
    padding: 2.5rem 0;
    // background: radial-gradient(circle, rgba(97,102,116,1) 0%, rgba(0,0,10,1) 50%);

    

  }
  
}
@media only screen and (min-width: 786px){

}
@media only screen and (min-width: 992){

}
