<form action="">
  <fieldset>
    <legend>Share your thoughts</legend>
    <label for="reviewer">Name</label>
    <input 
      id="reviewer"
      type="text"
      required
      >
    <label for="rating">Rating (1-5)</label>
    <input 
      type="range" 
      name="rating" 
      id="rating" 
      min="0" max="5"
      value="0"
      >
    <textarea 
      name="reviewText" 
      id="reviewText" 
      cols="30" rows="10"
      required

      ></textarea>
    <button type="submit">Submit</button>
  </fieldset>
</form>