<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <fieldset>
    <legend>Share your thoughts</legend>
    <label for="reviewer">Name</label>
    <input 
      id="reviewer"
      type="text"
      name="reviewer"
      [ngModel]="review?.reviewer"
      #reviewer="ngModel"
      required
      >
    <label for="rating">Rating (1-5)</label>
    <input 
      type="range" 
      name="rating" 
      [ngModel]="review?.rating"
      rating="ngModel"
      id="rating" 
      value="0"
      min="0" max="5"
      >
    <textarea 
      name="reviewText" 
      id="reviewText" 
      name="reviewText"
      [ngModel]="review?.reviewText"
      #reviewText="ngModel"
      cols="30" rows="10"
      required

      ></textarea>
    <button type="submit">Submit</button>
  </fieldset>
</form>