

@media only all and (min-width:0){
  div.row{
    padding:0;
    margin: 1rem auto;
    display:grid;
    grid-template-columns: 80% 20%;
    justify-content:center;
    width: fit-content;
    div:not(.row){
      padding:0;
      width: fit-content;
      grid-column: 1;
      select,
      input{
        width: 11.5rem;
      }   
    }
    div:not(.row):last-of-type{
      grid-column:2;
      grid-row:1/4;
      button{
        width: 100%;
        height: 100%;
      }
    }
  }  
}
  @media only all and (min-width: 786px){
    div.row{
      width: fit-content;
      div:not(.row){
        select,
        input{
          width: 24rem;
          text-align: center;
        }
        
      }
    }
  }
  @media only all and (min-width: 992px){
    div.row{
      display:flex;
      padding:0;
      margin: 1rem auto;
      display:flex;
      justify-content:center;
      width: fit-content;
      div:not(.row){
        padding:0;
        width: fit-content;
        select,
        input{
          width: fit-content;
        }
        
      }
    }
  }
  @media only all and (min-width: 1200px) {
  
  }
  