

@media only all and (min-width:0){
    section{
      overflow-y: auto;
      height: fit-content;
      // width: 75%;
      margin: 0 auto 2.5rem auto;
      display:flex;
      flex-direction: column;
      align-items:center;
      // padding: 1rem 0;
    }
  }
  @media only all and (min-width: 786px){
    section{
      overflow-y: auto;
      height: fit-content;
      width: fit-content;
      // width: 75%;
      margin: 1 auto 2.5rem auto;
      display:flex;
      flex-direction: column;
      align-items:center;
      padding: 1rem 0;
    }
  }
  @media only all and (min-width: 992px){
    // section{
    //   overflow-y: auto;
    //   height: fit-content;
    //   width: 75%;
    //   margin: 1 auto 2.5rem auto;
    //   display:flex;
    //   flex-direction: column;
    //   align-items:center;
    //   padding: 1rem 0;
    // }
  }
  @media only all and (min-width: 1200px) {
  
  }
  