<div class="topBanner">
  <div class="overlay">
    <p>Difference Between A Detail And A Clean</p>
  </div>
  <!-- <div class="bannerImgHolder">
    <img src="../../../../assets/imgs/HomePhoto3.jpg" alt="HomeHero">
  </div>   -->
</div>

<main>
  <div class="overlay">
    <div class="contentHolder">
      <article>
        <div class="overlay">
          <h3>Thorough Vacuuming</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Steam Sanitation</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Complete Surface Cleaning</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Air Sanitation</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>UV Plastic Protection</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Leather Cleaning and Conditioning</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Shampoo/Extraction</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
      <article>
        <div class="overlay">
          <h3>Exterior Wash</h3>
          <button>See Deals</button>
          <button>View Photo</button>
        </div>
        <img src="../../../../assets/imgs/HomePhoto2.jpg" alt="">
      </article>
    </div>
  
    
  </div>
  <!-- <div class="pseudoImg"></div> -->
  <!-- <img src="../../../../assets/imgs/FacebookPhotos/289657999_104438422319838_2102428165433642360_n.jpg"> -->
  
</main>
  
<app-footer></app-footer>