<div class="topBanner">
  <div class="overlay">
    <p>Difference Between <br>A Detail And A Clean</p>
  </div>
  <!-- <div class="bannerImgHolder">
    <img src="assets/imgs/HomePhoto3.jpg" alt="HomeHero">
  </div>   -->
</div>

<main>
  <div class="overlay">
    <div class="contentHolder">
      <app-home-opt-single
        *ngFor="let photo_element of photos | portfolioFilter: 'after'"
        [photo]="photo_element">
      </app-home-opt-single>
    </div>
  
    
  </div>
  <router-outlet></router-outlet>
  <!-- <div class="pseudoImg"></div> -->
  <!-- <img src="assets/imgs/FacebookPhotos/289657999_104438422319838_2102428165433642360_n.jpg"> -->
  
</main>
  
<app-footer></app-footer>